#!/bin/bash
#
#SBATCH --job-name=maxdens.topo2.test
#SBATCH --output=maxdens.topo2.test.o
#
#SBATCH --ntasks=4
#SBATCH --partition=long
#SBATCH --time=168:00:00

#SBATCH --mem-per-cpu=512
LAMMPS=""
LAMMPSparallel="/home/zy/Documents/tap/lammps-stable_23Jun2022_update4/build/lmp"

lscript="test.lammps.example"

ncpu=1

cwd=`pwd`
 
mpirun -np ${ncpu} ${LAMMPSparallel} -in ${lscript} 
