variable seed1 equal 65905094
variable seed2 equal 249184
variable seed3 equal 534534534

units lj 
atom_style angle
boundary p p p
neighbor 1.6 bin

neigh_modify every 1 delay 1 check yes
read_data ../data/In_conf.Nb1000.RW4.fixed.dat extra/bond/per/atom 2
#read_restart restart.200000

####################################
####	GROUPS	             #######
####################################

group dna type 1

####################################
####    PAIR INTERACTIONS    #######
####################################
pair_style   lj/cut 1.12246
pair_modify  shift yes
pair_coeff   * * 1.0 1.0 1.12246 # purely repulsive

####################################
####    FENE BONDS           #######
####################################
bond_style hybrid fene harmonic
special_bonds fene
bond_coeff   1 fene  30.0   1.5  1.0  1.12246 # K (scaling), R_0 (maximum extent), E_0, r_0 (LJ potential minimum)
bond_coeff   2 harmonic 100 1.1 # K, r_0 = equilibrium length, which is quite small
bond_coeff   3 fene  10.0  1.7 1.0  1.12246

####################################
####    ANGLES                #######
####################################
angle_style cosine
angle_coeff 1 5

#########################
#### SMC AND TOPO2  #####
#########################
variable probsmc equal 1
variable lpol equal 1000
variable cutoff equal 1.2
variable ratesmc equal 1000
variable nsmc equal 1

######################################
# INTEGRATION OF Equations of motion #
######################################
fix 1 dna   nve
fix 2 all  langevin   1.0 1.0   1.0  ${seed2}

# let it equilibrate first? 
run 10000

fix smcrun all smc ${ratesmc} ${seed3} ${probsmc} ${lpol} linear -1 1 ${nsmc} 2 3 2 ${cutoff} random 1 0.00001
fix smcdump all dumpsmc 1000 ${nsmc} zuppa_1_rate_1000_check_repr_1 smcrun

# 2 3 2:
# atom type, bond type after first, bond type at first
# atom type 2, fene bond after deploy, harmonic bond at first

######################
#### CUSTOM INFO #####
######################
thermo 100000
thermo_style   custom   step  temp  epair vol cpu
timestep 0.01

dump 1 all custom 1000 ../dumps/test3_prob${probsmc}_rate${ratesmc}_cutoff${cutoff}_dump_parallel.lammpstrj id type x y z 

run 1000000
